<html lang="en_GB">
<head>
    <style>

        @page {
            margin: 50px;
        }

        h1 {
            font-family: "copperplate", serif;
            text-transform: uppercase;
            letter-spacing: 4px;
            margin: 0 0 3px 0;
            padding: 0;
            font-size: 25px;
        }

        h2 {
            font-family: "copperplate", serif;
            text-transform: uppercase;
            letter-spacing: 4px;
            margin: 0 0 3px 0;
            padding: 0;
            font-size: 18px;

        }

        H3 {
            font-family: "copperplate", serif;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 15px;
            margin: 0 0 3px 0;
            padding: 0;
        }

        body {
            font-family: "mrseaves", serif;
        }

        p, TD {
            font-family: "mrseaves", serif;
            font-weight: normal;
            font-size: 13px;
            margin: 0 0 3px 0;
            padding: 0;
        }

        a:link {
            text-decoration: none;
            color:black;
        }

        table {
            padding: 0px;
            border-collapse: collapse;
        }

        section {
            margin-bottom: 50px;
        }

        .keepTogether {
            page-break-inside: avoid;
        }

        .red {
            color: red;
        }

        .gold {
            color: #B8860B !important;
        }

    </style>
</head>
<body>
<section>
    <table width="100%" style="margin-bottom: 50px;">
        <tr>
            <td valign="top"><img src="{{ logo }}" width="150"></td>
            <td valign="top" align="right">
                <h1><b>{% if orderData.pendingCharge %}Proforma Invoice{% else %}Invoice{% endif %}</b></h1>
                <h2>#{{ orderData.id }}</h2>
                <p>{{ date }}</p>
                <p><b>{% if orderData.pendingCharge %}
                            <span class="red">PAYMENT DUE</span>
                        {% else %}
                            <span class="gold">PAID</span>
                        {% endif %}
                    </b>
                </p>
                {% if event and event.purchase_order %}
                    <p>Purchase Order: {{ event.purchase_order }}</p>
                {% endif %}
            </td>
        </tr>
    </table>
</section>
<section>
    <table>

        <tr>
            <td>
                <h3>Billing&nbsp;Details</h3>
                {{ orderData.customer.first_name }} {{ orderData.customer.last_name }} <br>
                {% if  orderData.billingAddress.company %}
                    {{ orderData.billingAddress.company }}<br>
                {% endif %}
                {% if  orderData.billingAddress.address_1 %}
                    {{ orderData.billingAddress.address_1 }},<br>
                {% endif %}
                {% if  orderData.billingAddress.address_2 %}
                    {{ orderData.billingAddress.address_2 }},<br>
                {% endif %}
                {% if  orderData.billingAddress.city %}
                    {{ orderData.billingAddress.city }},<br>
                {% endif %}
                {% if  orderData.billingAddress.state %}
                    {{ orderData.billingAddress.state }},<br>
                {% endif %}
                {% if  orderData.billingAddress.postcode %}
                    {{ orderData.billingAddress.postcode }}<br>
                {% endif %}
            </td>
            <td width="30">&nbsp;</td>
            <td>
                <h3>Shipping&nbsp;Details</h3>
                {{ orderData.shippingAddress.first_name }} {{ orderData.shippingAddress.last_name }} <br>
                {% if  orderData.shippingAddress.company %}
                    {{ orderData.shippingAddress.company }}<br>
                {% endif %}
                {% if  orderData.shippingAddress.address_1 %}
                    {{ orderData.shippingAddress.address_1 }},<br>
                {% endif %}
                {% if  orderData.shippingAddress.address_2 %}
                    {{ orderData.shippingAddress.address_2 }},<br>
                {% endif %}
                {% if  orderData.shippingAddress.city %}
                    {{ orderData.shippingAddress.city }},<br>
                {% endif %}
                {% if  orderData.shippingAddress.state %}
                    {{ orderData.shippingAddress.state }},<br>
                {% endif %}
                {% if  orderData.shippingAddress.postcode %}
                    {{ orderData.shippingAddress.postcode }}<br>
                {% endif %}
            </td>

        </tr>


    </table>
</section>
<Section>


    {% set tdHeight = 30 %}
    {% set col1 = 35 %}
    {% set col2 = 250 %}
    {% set col3 = 100 %}
    {% set col4 = 100 %}

    {% set tableWidth = col1+col2+col3+col4 %}

    <h2 style="margin-bottom: 20px;">Your Order</h2>

    <table width="{{ tableWidth }}" border="0">


        <tr>
            <td width="{{ col1 }}" class="gold">ITEMS</td>
            <td width="{{ col2 }}">&nbsp;</td>
            <td width="{{ col3 }}" align="right" class="gold">QTY</td>
            <td width="{{ col4 }}" align="right" class="gold">TOTAL</td>
        </tr>


        {% for item in orderData.items %}

            <tr>
                <td height="{{ tdHeight+5 }}" width="{{ col1 }}" align="left">{% if item.image %}<img class="image" src="{{ item.image }}" width="{{ col1 }}"/>{% endif %}</td>
                <td height="{{ tdHeight+5 }}" width="{{ col2 }}" align="left">{{ item.name }}</td>
                <td height="{{ tdHeight+5 }}" width="{{ col3 }}" align="right">{{ item.quantity }}</td>
                <td height="{{ tdHeight+5 }}" width="{{ col4 }}" align="right">{{ wc_price(item.subtotal) }}</td>
            </tr>

        {% endfor %}


        {% if  orderData.coupons|length >0 %}
            {% for coupon in orderData.coupons %}

                <tr>
                    <td height="{{ tdHeight }}" colspan="3" align="right">Discount Code: {{ coupon.code }}</td>
                    <td height="{{ tdHeight }}" align="right"> - {{ wc_price(coupon.discount) }}</td>
                </tr>

            {% endfor %}


        {% endif %}


        {% if  orderData.giftCards|length >0 %}
            {% for giftCard in orderData.giftCards %}

                <tr>
                    <td height="{{ tdHeight }}" colspan="3" align="right">Gift Card Code: {{ giftCard.card_number }}</td>
                    <td height="{{ tdHeight }}" align="right"> - {{ wc_price(giftCard.amount) }}</td>
                </tr>

            {% endfor %}
        {% endif %}
        {% if  orderData.shippingData %}
            <tr>
                <td height="{{ tdHeight }}" colspan="3" align="right">{{ orderData.shippingData.name }} on {{ orderData.shippingData.date|date("jS F") }}</td>
                <td height="{{ tdHeight }}" align="right"> {{ wc_price(orderData.shippingData.amount) }}</td>
            </tr>
        {% endif %}


        <tr>
            <td height="{{ tdHeight }}" colspan="3" align="right"><h3>Total</h3></td>
            <td height="{{ tdHeight }}" align="right"><h3>{{ wc_price(orderData.total) }}</h3></td>
        </tr>
        {% if orderData.pendingCharge >0 %}
            <tr>
                <td height="{{ tdHeight }}" colspan="3" align="right">Paid</td>
                <td height="{{ tdHeight }}" align="right"><h3>{{ wc_price(orderData.total  -orderData.pendingCharge) }}</h3></td>
            </tr>

            <tr>
                <td height="{{ tdHeight }}" colspan="3" align="right">Balance</td>
                <td height="{{ tdHeight }}" align="right"><h3>{{ wc_price( orderData.pendingCharge) }}</h3></td>
            </tr>
        {% endif %}


    </table>
</Section>

<div style="margin-top:30px ">

    {% if orderData.pendingCharge > 0 and payment %}
        <div class="keepTogether" style="margin-bottom: 20px;">
            {{ payment }}
        </div>
    {% endif %}

    <div class="keepTogether">
        {{ footer }}
    </div>

</div>

</body>
</html>