<div id="review_form">
    <review-form
            :order_id="{{ order_id }}"
            {# :messages='{{ page.messages|json }}' #}
            endpoint='{{ endpoint }}'
            :score="{{ score }}"
            :already_submitted="{{ already_submitted ? 'true' : 'false' }}"
    >
    </review-form>
</div>